@font-face {
    font-family: "king";
    src: url("../assets/font/Kingthings\ Exeter.ttf");
}

.question-text {
    font-family: king;
    font-size: 140%;
}

.answer-div {
    display: flex;
}

.answer-text {
    padding-left: 10px;
    font-family: king;
    font-weight: 100;
    font-size: 120%;
}

.answer-button {
    padding: 24px 24px;
}